body {
	border-left: 22px solid rgba(103, 103, 103, 0.95);
	background-image: url("../images/jigsaw.jpg");
	background-position: left;
	font-family: cursive;
}
.header {
	position: sticky;
	opacity: 0.95;
	top: 0;
	width: 1319px;
	background-color: #676767;
	margin: 0;
	overflow: auto
}
.head1 {
	background-color: #373737;
	color: white;
	text-align: center;
	float: left;
	width: 400px;
	height: 70px;
	margin: 4px 200px 4px 20px;
	padding: 5px 2px;
	line-height: 27px;
}
.head2 {
	background-color: #373737;
	color: white;
	text-align: center;
	width: 500px;
	height: 70px;
	margin: 4px 20px 4px 100px;
	padding: 5px 2px;
	float: right;
	font-weight: bold;
	line-height: 3px;
}
.sprite {
	float:right;
	background: url('../images/icon.png') no-repeat -182px -91px;
	width: 33px;
	height: 32px;
	clip-path: circle(47% at 50% 50%);
	margin-right: 5px;
}
.sprite:hover {
	background: url('../images/icon.png') no-repeat -182px -17px;
	width: 33px;
	height: 32px;
}
.sprite:active {
	background: url../images/icon.png') no-repeat -182px -17px;
	width: 33px;
	height: 32px;
}
.sprite:visited {
	background: url('../images/icon.png') no-repeat -182px -91px;
	width: 33px;
	height: 32px;
}
nav {
	width: 1319px;
	opacity: 0.8;
	display: inline-block;
	margin-bottom: -5px;
	overflow: auto;
	background-color: #b8b8b8;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
	float: left;
}
a {
	text-decoration: none;
}
#button {
	box-shadow: 3px 10px 27px 12px rgba(0,0,0,0.44);
	color: white;
	background-color: #bfbfbf;
	border: 1px solid black;
	width: 152px;
	height: 40px;
	margin: 5px 56px;
	padding: 4px;
	text-align: center;
}
#button:link {
	background-color: #bfbfbf;
	color: white;
}
#button:visited {
	background-color: #736757;
	color: blue;
}
#button:hover {
	background-color: #cfcfcf;
	color: navy;
}
#button:active {
	background-color: white;
	color: black
}
#logo {
	float: left;
	margin: -5px 0px -5px 15px;
}
#footerlogo {
	float: right;
	margin: 5px 15px;
	clip-path: circle(50% at 50% 50%);
}
.info {
	background-color: rgba(240,234,213,0.85);
	display: inline-block;
	margin: 0px;
	width: 1319px;
	overflow: auto;
}
.title-box {
	width: 350px;
	height: 75px;
	margin: 10px auto;
	padding: 5px 40px;
	border: 2px solid #fffefa;
	background-color: #F0FAE5;
	line-height: 33px;
}
.title {
	letter-spacing: 1px;
}
.ref {
	box-shadow: 3px 10px 27px 12px rgba(0,0,0,0.1);
	width: 800px;
	height: auto;
	margin: 20px 150px 50px 230px;
	padding: 0px 30px 10px;
	border: 2px solid #fffefa;
	background-color: #F0FAE5;
}
.refheader {
	text-align: left;
	margin-left: 6px;
	margin-top: -4px;
}
footer {
	position: sticky;
	opacity: 0.9;
	right: 0;
	bottom: 0;
	display: inline-block;
	margin-top: -5px;
	background-color: #b7b7b7;
	width: 100.6%;
	height: 40px;
}
